@import "../../styles/normalize",
"../../styles/fonts",
"../../styles/vars",
"../../styles/mixins";

.product {
  &__inner {
    margin-top: 30px;
    width: 890px;
    height: fit-content;
    text-align: left;
  }

  &__img {
    margin: 20px 0;
    width: 100%;
    border: 1px solid #d5d5d5;
  }

  &__title {
    margin-bottom: 5px;
    font-style: normal;
    @include font-face(24px, 700, 28px);
  }

  &__description {
    margin-bottom: 20px;
    font-style: normal;
    @include font-face(14px, 400, 16px);
  }

  &__cart {
    display: flex;
    justify-content: start;
    align-items: baseline;
    margin-top: 20px;
    gap: 15px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
    color: $main-color;
    background: $highlight-color;
    cursor: pointer;
  }

  &__price {
    @include font-face(24px, 400, 28px);
    &::before {
      content: "$ ";
    }
  }
}

.cart {
  width: 40px;
  height: 40px;
}

.inCart {
  background: $text-color;
}

.link {
  width: 156px;
  height: 40px;
  @include font-face(14px, 400, 24px);
}

@media (max-width: 1200px) {
  .product {
    &__inner {
      width: 570px;
    }
  }
}

@media (max-width: 410px) {
  .product {
    &__inner {
      width: 330px;
    }
  }
}